In [1]:
import numpy as np
import seaborn as sns
import pandas as pd

In [15]:
working_cities_US_df = pd.read_csv('working_cities_US.csv', thousands=",")
working_cities_US_df.dropna(axis = 0, inplace=True)
# empty_cols = [col for col in working_cities_US_df.columns if (working_cities_US_df[col] != 0.0).all()]
# working_cities_US_df.drop(empty_cols, axis=1, inplace=True)
working_cities_US_df.head()

,Unnamed: 0,citycode,cityname,city_pop,area,lat,lon,countryname,pop_1950_UN,pop_1960_UN,...,service_length_r100_osm,unknown_length_r2_osm,unknown_length_r5_osm,unknown_length_r10_osm,unknown_length_r15_osm,unknown_length_r100_osm,mean_night_lights,total_night_lights,hhincome,hhsize
31,31,22905,Akron,263433.88,212.84673,41.081444,-81.519005,United States of America,368.807007,460.186005,...,0.000,0.0,0.0,0.0,666.271,0.0,61.014970,20379.0,53524.895,2.315593
55,55,22907,Albany,294112.62,283.33330,42.652580,-73.756233,United States of America,416.128998,456.195007,...,26811.521,0.0,0.0,0.0,2353.802,0.0,59.390625,26607.0,70062.750,2.251845
56,56,22908,Albuquerque,556415.94,328.50170,35.084385,-106.650421,United States of America,196.619995,242.475998,...,10370.692,0.0,0.0,0.0,0.000,0.0,62.304256,29283.0,62483.120,2.414084
60,60,22910,Allentown-Bethlehem,500222.44,438.45660,40.602295,-75.471413,United States of America,226.666000,258.257996,...,531645.446,0.0,0.0,0.0,641.655,0.0,61.086636,41600.0,74535.120,2.559844
77,77,22917,Ann Arbor,94395.17,59.55799,42.280827,-83.743034,United States of America,90.544998,116.543999,...,0.000,0.0,0.0,0.0,0.000,0.0,61.916668,5944.0,83614.770,2.385063

In [34]:
region_mobility_df = pd.read_csv('2020_US_Region_Mobility_Report.csv', thousands=",")
drop_columns = ['iso_3166_2_code', 'metro_area']  
region_mobility_df.drop(drop_columns, axis=1, inplace=True)
region_mobility_df.dropna(axis = 0, inplace=True)
region_mobility_df.head()

,country_region_code,country_region,sub_region_1,sub_region_2,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
1098,US,United States,Alabama,Baldwin County,1003.0,ChIJMRERvxBnmogR0K_9O08dxDw,2020-02-15,17.0,12.0,55.0,8.0,6.0,-2.0
1099,US,United States,Alabama,Baldwin County,1003.0,ChIJMRERvxBnmogR0K_9O08dxDw,2020-02-16,8.0,8.0,-12.0,7.0,-3.0,2.0
1100,US,United States,Alabama,Baldwin County,1003.0,ChIJMRERvxBnmogR0K_9O08dxDw,2020-02-17,9.0,9.0,31.0,7.0,-3.0,1.0
1101,US,United States,Alabama,Baldwin County,1003.0,ChIJMRERvxBnmogR0K_9O08dxDw,2020-02-18,7.0,8.0,21.0,0.0,2.0,0.0
1102,US,United States,Alabama,Baldwin County,1003.0,ChIJMRERvxBnmogR0K_9O08dxDw,2020-02-19,12.0,9.0,41.0,8.0,3.0,-1.0

In [14]:
Historical_Population_Density_df = pd.read_csv('Historical_Population_Density.csv', thousands=",")
Historical_Population_Density_df.dropna(axis = 0, inplace=True)
Historical_Population_Density_df.head()

,Name,Geography Type,Year,Resident Population,Percent Change in Resident Population,Resident Population Density,Resident Population Density Rank,Number of Representatives,Change in Number of Representatives,Average Apportionment Population Per Representative
0,Alabama,State,1910,2138093,16.9,42.2,25.0,10.0,1.0,213809.0
3,Arkansas,State,1910,1574449,20.0,30.3,30.0,7.0,0.0,224921.0
4,California,State,1910,2377549,60.1,15.3,38.0,11.0,3.0,216051.0
5,Colorado,State,1910,799024,48.0,7.7,42.0,4.0,1.0,199643.0
6,Connecticut,State,1910,1114756,22.7,230.2,6.0,5.0,0.0,222951.0